[Unit]
Description=Run Docker Compose for Boatflix Services
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/boatflix/boatflix/stackarr
ExecStartPre=/usr/bin/git pull || true
ExecStartPre=/bin/bash /home/boatflix/boatflix/stackarr/mount_hd.sh
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target