[Unit]
Description=Run Docker Compose for Boatflix Services
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/boatflix/boatflix/stackarr
USER=1000
ExecStartPre=+/bin/bash /home/boatflix/boatflix/stackarr/mount_hd.sh
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Type=simple
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target